### Importamos pandas

In [8]:
!pip install fastparquet pyarrow

Collecting fastparquet
  Downloading fastparquet-2023.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 3.5 MB/s eta 0:00:01
Collecting pyarrow
  Downloading pyarrow-11.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.0 MB)
     |████████████████████████████████| 35.0 MB 18.8 MB/s eta 0:00:01
Collecting fsspec
  Downloading fsspec-2023.4.0-py3-none-any.whl (153 kB)
     |████████████████████████████████| 153 kB 91.2 MB/s eta 0:00:01
Requirement already satisfied: packaging in /home/alourido/.local/lib/python3.8/site-packages (from fastparquet) (23.0)
Requirement already satisfied: numpy>=1.20.3 in /home/alourido/.local/lib/python3.8/site-packages (from fastparquet) (1.24.2)
Requirement already satisfied: pandas>=1.5.0 in /home/alourido/.local/lib/python3.8/site-packages (from fastparquet) (1.5.3)
Collecting cramjam>=2.3
  Downloading cramjam-2.6.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 57.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/alourido/.local/lib/python3.8/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/alourido/.local/lib/python3.8/site-packages (from pandas>=1.5.0->fastparquet) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.14.0)
Installing collected packages: fsspec, cramjam, fastparquet, pyarrow
Successfully installed cramjam-2.6.2 fastparquet-2023.2.0 fsspec-2023.4.0 pyarrow-11.0.0

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

## Data set [link](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

###  Taxi yellow 2021 [link](https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet)

Descrgamos el sata set

In [6]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

--2023-04-17 16:03:29--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet
Resolviendo d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.67.246.167, 18.67.246.47, 18.67.246.186, ...
Conectando con d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)[18.67.246.167]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 21686067 (21M) [application/x-www-form-urlencoded]
Guardando como: “yellow_tripdata_2021-01.parquet”

yellow_tripdata_202 100%[===================>]  20,68M  22,2MB/s    en 0,9s

2023-04-17 16:03:30 (22,2 MB/s) - “yellow_tripdata_2021-01.parquet” guardado [21686067/21686067]

In [9]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")

In [10]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

### pd.io.sql.get_schema() 

es una función de Pandas que permite generar un esquema SQL a partir de un DataFrame de Pandas.

La función toma como entrada el DataFrame y un nombre de tabla y devuelve una cadena de caracteres que representa el esquema SQL. La cadena de caracteres generada por la función contiene los nombres de las columnas del DataFrame y sus tipos de datos correspondientes, así como las restricciones de clave primaria si se especifican.

Es útil para generar el esquema de una tabla en una base de datos a partir de los datos de un DataFrame de Pandas. Esto puede ser especialmente útil en situaciones donde se necesita crear una tabla en una base de datos a partir de un conjunto de datos de Pandas.

In [27]:
esquema_sql=pd.io.sql.get_schema(df, name='yellow_taxi_data_sql')

In [28]:
print(esquema_sql)

CREATE TABLE "yellow_taxi_data_sql" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

La función **pd.to_datetime()** se utiliza para convertir una columna de un DataFrame de pandas en una serie de fecha y hora de pandas. En este caso, **df.tpep_pickup_datetime** es una columna que se supone contiene valores de fecha y hora en formato de cadena.

La función **pd.to_datetime(df.tpep_pickup_datetime)** convierte los valores de esa columna en formato de cadena en valores de fecha y hora de pandas, lo que permite realizar operaciones de fecha y hora sobre ellos. El resultado es una serie de fecha y hora de pandas que se puede asignar de vuelta a la columna original o utilizar en cálculos posteriores.

In [30]:
pd.to_datetime(df.tpep_pickup_datetime)

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369764   2021-01-31 23:03:00
1369765   2021-01-31 23:29:00
1369766   2021-01-31 23:25:00
1369767   2021-01-31 23:01:06
1369768   2021-01-31 23:08:29
Name: tpep_pickup_datetime, Length: 1369769, dtype: datetime64[ns]

En este caso, la columna **tpep_dropoff_datetime** del DataFrame df se está convirtiendo en un objeto de fecha y hora.

In [17]:
pd.to_datetime(df.tpep_dropoff_datetime)

0         2021-01-01 00:36:12
1         2021-01-01 00:52:19
2         2021-01-01 01:11:06
3         2021-01-01 00:31:01
4         2021-01-01 00:48:21
                  ...
1369764   2021-01-31 23:33:00
1369765   2021-01-31 23:51:00
1369766   2021-01-31 23:38:00
1369767   2021-02-01 00:02:03
1369768   2021-01-31 23:31:22
Name: tpep_dropoff_datetime, Length: 1369769, dtype: datetime64[ns]

In [18]:
! pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.9-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 2.6 MB/s eta 0:00:01
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading greenlet-2.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (618 kB)
     |████████████████████████████████| 618 kB 12.2 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.2.0 in /home/alourido/.local/lib/python3.8/site-packages (from sqlalchemy) (4.5.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.9

In [21]:
! pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6.tar.gz (383 kB)
     |████████████████████████████████| 383 kB 3.0 MB/s eta 0:00:01
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.6-cp38-cp38-linux_x86_64.whl size=557652 sha256=af7c43f2e06f41dc7fe6137e5f88d8903f8e0ccbd079c61dcb5845a295c3380b
  Stored in directory: /home/alourido/.cache/pip/wheels/b4/01/c3/2fb9798be76b52c98b2ad9e6f3101b3dcb5286e7901f754e87
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [19]:
from sqlalchemy import create_engine

La función **create_engine** es provista por la biblioteca SQLAlchemy y permite crear una conexión con un motor de base de datos que puede ser utilizado para ejecutar consultas SQL en una base de datos.

El argumento de la función create_engine es una cadena de texto que especifica la URL de la base de datos. La sintaxis general de la URL de la base de datos es la siguiente:

postgresql://usuario:contraseña@host:puerto/nombre_de_la_base_de_datos

En este caso específico, la URL se refiere a una base de datos PostgreSQL que está siendo ejecutada en la máquina local (localhost) en el puerto 5432, con el nombre de usuario "root" y la contraseña "root". La base de datos a la que se desea conectar se llama "ny_taxi".

In [22]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

**engine.connect()** es un método proporcionado por la biblioteca SQLAlchemy que crea una conexión a la base de datos utilizando el motor que se creó previamente con la función **create_engine()**. Una vez que se establece la conexión, se puede ejecutar código SQL para interactuar con la base de datos.

In [23]:
engine.connect()

La función **pd.io.sql.get_schema()** se utiliza para generar una declaración SQL CREATE TABLE a partir de un DataFrame de pandas. El primer argumento de la función es el DataFrame que se va a utilizar para generar la declaración CREATE TABLE. El argumento name se utiliza para especificar el nombre de la tabla en la base de datos. Finalmente, el argumento con se utiliza para especificar la conexión de base de datos (un objeto engine creado con create_engine()).

**La función devuelve una cadena de texto que contiene la declaración SQL CREATE TABLE que puede ser utilizada para crear una tabla en la base de datos.**

In [25]:
esquema_sql=pd.io.sql.get_schema(df, name='yellow_taxi_data_sql',con=engine) 
print(esquema_sql)

CREATE TABLE yellow_taxi_data_sql (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [ ]:
Pasamos de parquet a csv

In [32]:
df.to_csv('yellow_tripdata_2021-01.csv')

Este código carga un archivo Parquet llamado "yellow_tripdata_2021-01.csv" en un objeto pandas DataFrame de manera iterativa en bloques de tamaño 100,000. El parámetro "iterator=True" especifica que el objeto DataFrame debe ser iterado en lugar de cargado por completo en memoria. Esto es útil cuando se trabaja con archivos de gran tamaño que no caben en la memoria RAM disponible.

In [34]:
df_inter =  pd.read_csv("yellow_tripdata_2021-01.csv",iterator = True ,chunksize= 100000)

**next(df_inter)** es una función que se usa para iterar a través de un objeto DataFrame generado por la función pd.read_parquet() con el parámetro iterator=True. Cada llamada a **next(df_inter)** devuelve el siguiente objeto DataFrame en la secuencia de datos.

En este caso, df_inter es un objeto iterador generado por pd.read_parquet() con iterator=True y chunksize=100000, lo que significa que leerá el archivo parquet en trozos de 100,000 filas cada uno. La llamada next(df_inter) devuelve el siguiente trozo de 100,000 filas del archivo parquet como un objeto DataFrame, que se asigna a df_new.

In [35]:
df_new = next(df_inter)

In [36]:
len(df_new)

100000

Estos comandos convierten las columnas 'tpep_pickup_datetime' y 'tpep_dropoff_datetime' del dataframe df_new en objetos datetime de pandas. Esto permite manipular fechas y horas de una manera más conveniente y también es necesario si se quieren ejecutar operaciones de comparación o aritméticas con estas columnas.

In [37]:
df_new.tpep_pickup_datetime=pd.to_datetime(df_new.tpep_pickup_datetime)
df_new.tpep_dropoff_datetime=pd.to_datetime(df_new.tpep_dropoff_datetime)

Este código escribe el objeto DataFrame df_new en una tabla en la base de datos SQL que hemos conectado previamente utilizando la función create_engine() de SQLAlchemy.

La función **to_sql()** convierte el objeto DataFrame en una tabla en la base de datos especificada. El argumento name se refiere al nombre de la tabla, y con especifica la conexión a la base de datos. Si if_exists está establecido en 'replace', entonces la tabla existente con el mismo nombre será eliminada y reemplazada con la nueva tabla que se está escribiendo en la base de datos.

In [38]:
df_new.to_sql(name='yellow_taxi_data_sql',con=engine , if_exists='replace')

1000

ahora en una terminal ejecutamos  pgcli -h localhost -p 5432 -u root -d ny_taxi 

y deberiamos poder ver :

<pre>
pgcli -h localhost -p 5432 -u root -d ny_taxi 
Server: PostgreSQL 13.10 (Debian 13.10-1.pgdg110+1)
Version: 3.5.0
Home: http://pgcli.com

root@localhost:ny_taxi> \dt
+--------+----------------------+-------+-------+
| Schema | Name                 | Type  | Owner |
|--------+----------------------+-------+-------|
| public | yellow_taxi_data_sql | table | root  |
+--------+----------------------+-------+-------+
SELECT 1
Time: 0.029s

root@localhost:ny_taxi> \d yellow_taxi_data_sql
+-----------------------+-----------------------------+-----------+
| Column                | Type                        | Modifiers |
|-----------------------+-----------------------------+-----------|
| index                 | bigint                      |           |
| Unnamed: 0            | bigint                      |           |
| VendorID              | bigint                      |           |
| tpep_pickup_datetime  | timestamp without time zone |           |
| tpep_dropoff_datetime | timestamp without time zone |           |
| passenger_count       | double precision            |           |
| trip_distance         | double precision            |           |
| RatecodeID            | double precision            |           |
| store_and_fwd_flag    | text                        |           |
| PULocationID          | bigint                      |           |
| DOLocationID          | bigint                      |           |
| payment_type          | bigint                      |           |
| fare_amount           | double precision            |           |
| extra                 | double precision            |           |
| mta_tax               | double precision            |           |
| tip_amount            | double precision            |           |
| tolls_amount          | double precision            |           |
| improvement_surcharge | double precision            |           |
| total_amount          | double precision            |           |
| congestion_surcharge  | double precision            |           |
:

root@localhost:ny_taxi>


</pre>

ahora

La función **%time** es una función mágica en IPython que se utiliza para medir el tiempo de ejecución de una única instrucción de Python. En este caso, %time se utiliza para medir el tiempo que tarda en ejecutarse la función to_sql() de Pandas para escribir un lote de datos del DataFrame en la tabla de la base de datos.

In [40]:
%time df_new.to_sql(name='yellow_taxi_data_sql',con=engine , if_exists='append')

CPU times: user 3.33 s, sys: 22.7 ms, total: 3.35 s
Wall time: 5.71 s

1000

tras ejecutar esto nuestra base de docker tendra .

<pre>
 pgcli -h localhost -p 5432 -u root -d ny_taxi
Server: PostgreSQL 13.10 (Debian 13.10-1.pgdg110+1)
Version: 3.5.0
Home: http://pgcli.com

root@localhost:ny_taxi> select COUNT(1) from yellow_taxi_data_sql
+--------+
| count  |
|--------|
| 200000 |
+--------+
SELECT 1
Time: 0.025s
root@localhost:ny_taxi>

</pre>

In [ ]:
def chunck(df_new):
    df_new.tpep_pickup_datetime=pd.to_datetime(df_new.tpep_pickup_datetime)
    df_new.tpep_dropoff_datetime=pd.to_datetime(df_new.tpep_dropoff_datetime)
    df_new.to_sql(name='yellow_taxi_data_sql',con=engine , if_exists='append')

In [ ]:
while True:
    df_new=next(df_iter)
    
    df_new.tpep_pickup_datetime=pd.to_datetime(df_new.tpep_pickup_datetime)
    df_new.tpep_dropoff_datetime=pd.to_datetime(df_new.tpep_dropoff_datetime)